{
  {% if inventory_hostname in play_hosts[:3] %}
  "bootstrap_expect": {{ consul_server_instances_count }},
  "server": true,
  {% endif %}

  "data_dir": "/var/lib/consul",
  "datacenter": "{{ consul_datacenter }}",
  "log_level": "INFO",
  "encrypt": "{{ consul_encrypt_key }}",
  "enable_syslog": true,
  "addresses": {
    "dns": "127.0.0.1"
  },
  "disable_update_check": true,
  "domain": "{{ consul_domain_suffix }}"

}
